* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(195,87,58);
  background: linear-gradient(90deg, rgb(240, 81, 37) 0%, rgba(255,109,0,1) 35%, rgba(255,175,0,1) 100%);
  background-size: 300%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.sc-textdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sc-textinput {
  width: 40%;
  border: none;
  border-radius: 10px;
  padding: 30px;
  font-family: 'Fjalla One', sans-serif;
  font-size: larger;
  outline: none;
}
