* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(195,87,58);
  background: linear-gradient(90deg, rgb(240, 81, 37) 0%, rgba(255,109,0,1) 35%, rgba(255,175,0,1) 100%);
  background-size: 300%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.main-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.sc-textdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}
.sc-textinput {
  width: 40%;
  border: none;
  border-radius: 10px;
  padding: 30px;
  font-family: 'Fjalla One', sans-serif;
  font-size: larger;
  outline: none;
  color:rgb(240, 81, 37);
  box-shadow: rgb(0 0 0 / 20%) 1px 1px 3px;
}

.sc-textinput::placeholder {
  color:rgba(240, 81, 37, 1);
}

.sc-textinput:focus::-webkit-input-placeholder {
  transition: opacity .5s ease-in-out;
  opacity: 0.4;
}

.download-button button {
  width: 40%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 24px;
  color:rgb(240, 81, 37);
  background-color: white;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  cursor: pointer;
}

.footer {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-decoration: none;
  text-align: center;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  margin-bottom: 25px;
}

a {
  color: white;
}